---
BasedOnStyle: LLVM
QualifierAlignment: Left
BreakTemplateDeclarations: Yes
BreakBinaryOperations: RespectPrecedence
BreakBeforeBinaryOperators: NonAssignment
AlignOperands: AlignAfterOperator
BreakAfterReturnType: Automatic
PenaltyReturnTypeOnItsOwnLine: 0
...
